<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><?=$pageTitle?></title>
	</head>
	<body>
		
		
		<CarCatalog:View sortBy="Name" />
		
		<Core:Request url="/CarCatalog/View?sortBy=Name" />
		<Core:Slot name="Whateva" />
		
		
	</body>
</html>
